# Miscellaneous ------------------------------------------------------------#

*.bak
*.ods
.svn/
~dev/
Libs/

# Windows garbage ----------------------------------------------------------#

Desktop.ini
ehthumbs.db
Thumbs.db